In [2]:
print("Hello world!!")

Hello world!!

In [3]:
age =20
print(age)

20

In [4]:
age = 'a'
print(age)

a

In [5]:
age = False
print(age)

False

In [6]:
name = input("What is your name? " )
print("Hi "+name)

Hi

In [7]:
birth_year = input()
age = 2024 - birth_year
print(age)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [ ]:
birth_year = input()
age = 2024 - int(birth_year)
print(age)

 2004

20

In [ ]:
birth_year = input()
age = 2024 - float(birth_year)
print(age)

 2004

20.0

In [ ]:
birth_year = input()
age = str(2024) - birth_year
print(age)

 2004

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
birth_year = input()
age = str(2024) + birth_year
print(age)

 2004

20242004

In [ ]:
first = float(input("first: "))
second = float(input("second: "))
sum = first + second
print("sum : " + str(sum))

first:  2.34
second:  4.8974

sum : 7.2374

In [ ]:
course = 'ython'
print(course.capitalize())
print(course.find('thon'))

Ython
1

In [ ]:
print('thon' in course)

True

In [ ]:
print(10/3)

3.3333333333333335

In [ ]:
print(10//3)

3

In [ ]:
print(10 ** 6)

1000000

In [ ]:
x=10
x**=6
print(x)

1000000

In [ ]:
x=1
print(x>-1 or x<2)

True

In [ ]:
print(x>-1 and x<1)

False

In [ ]:
print(not x<-1)

True

In [ ]:
print(not x>-1)

False

In [ ]:
print('it's a great day')

SyntaxError: unterminated string literal (detected at line 1) (1701287634.py, line 1)

In [ ]:
print("it's a great day")

it's a great day

In [ ]:
temp = float(input("what's the temperature? "))
if temp>40:
    print("it's too hot!!")
elif temp>20:
    print("it's moderately hot ")
else :
    print("it's cool")

print("Done")

what's the temperature?  20

it's cool
Done

In [ ]:
i=1
while i<=5:
    print(i * '*')
    i+=1

*
**
***
****
*****

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
print(numbers[2])
print(numbers[-2])

3
4

In [ ]:
print(numbers [1:4])

[2, 3, 4]

In [ ]:
numbers = [1,2,3,4,5]
numbers.insert(2,"Hero")
print(numbers)

[1, 2, 'Hero', 3, 4, 5]

In [ ]:
numbers.append(6)
print(numbers)

[1, 2, 'Hero', 3, 4, 5, 6]

In [ ]:
numbers.remove(3)
print(numbers)

[1, 2, 'Hero', 4, 5, 6]

In [ ]:
print(2 in numbers)

True

In [ ]:
print(len(numbers))

6

In [ ]:
for x in numbers:
    print(x)

1
2
Hero
4
5
6

In [ ]:
for n in range(5):
    print(n)

0
1
2
3
4

In [ ]:
for n in range(5,10):
    print(n)

5
6
7
8
9

In [ ]:
for n in range(10,5,-1):
    print(n)

10
9
8
7
6

In [ ]:
numbers = (1,2,3,4,5)

In [10]:
import pandas as pd
from io import StringIO,BytesIO

In [11]:
data = ('col1,col2,col3\n'
        '1,2,3\n'
        '4,5,6')

In [12]:
type(data)

str

In [13]:
StringIO()

In [14]:
pd.read_csv(StringIO(data))

   col1  col2  col3
0     1     2     3
1     4     5     6

In [15]:
df = pd.read_csv(StringIO(data), usecols=['col1','col2'])
df

   col1  col2
0     1     2
1     4     5

In [16]:
df.to_csv('test2.csv')

In [17]:
df['col1'][0]

1

In [18]:
df = pd.read_csv(StringIO(data),dtype='float')
df['col1'][0]

1.0

In [19]:
df['col1']

0    1.0
1    4.0
Name: col1, dtype: float64

In [20]:
df = pd.read_csv(StringIO(data),dtype={'col1':float,'col2':str})
df

   col1 col2  col3
0   1.0    2     3
1   4.0    5     6

In [30]:
data = ('a,b,c\n'
        '4,apple,bat,\n'
        '8,orange,cow,')

In [33]:
pd.read_csv(StringIO(data))

        a    b   c
4   apple  bat NaN
8  orange  cow NaN

In [34]:
pd.read_csv(StringIO(data),index_col=False)

   a       b    c
0  4   apple  bat
1  8  orange  cow

In [36]:
import matplotlib.pyplot as plt
import numpy as np